.awesome-slider{
    height: 500px;
    z-index: 0;
}
.aws-btn {
    
    --slider-height-percentage: 51%;
    --slider-transition-duration: 566ms;
    --organic-arrow-thickness: 7px;
    --organic-arrow-border-radius: 5px;
    --organic-arrow-height: 23px;
    --organic-arrow-color: #1db954;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: #f33d42;
    --control-bullet-active-color: #cf3438;
    --loader-bar-color: #851515;
    --loader-bar-height: 6px;
}