@font-face{ 
    font-family: 'Road Rage';
    font-style: normal;
    src: url('../font/Road_Rage.otf');    
}



.bike-menu h3{
    font-family: 'Road Rage';
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.bikes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
    text-decoration: none;
}

.bikes img{
    width: 200px;
}

.bike img:hover{
    transform: translateY(-10%);
    transition: .3s;
}

.bike p {
    text-transform: uppercase;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    color: #000;
}

.bikes a {
    text-decoration: none;
}