.header-top-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: rgb(233, 233, 233);;
    
}
.header-top-2 input{
    background: none;
    outline: none;
    width: 400px;
    border-radius: 15px 0 0 15px;
    background: #fff;
    height: 48px;
    margin-left: 30px;
    border: none;
    outline: none;
    text-indent: 15px;
    margin-top: 5px;
}

.button{
    border: none;
    margin-right: 10px;
    margin-top: 5px;
}

.brand {
    margin-left: 20px;
}

.brand img {
    width: 230px;
    height: 100px;
}


.login{
    display: flex;
    justify-content: space-evenly;
}

.li-login{
    display: flex;
    justify-content: space-around;
}

.search-button{
    width: 80px;
    height: 48px;
    background-color: #1db954;
    outline: none;
    border: none;
    border-radius: 0 15px 15px 0;
    margin-top: 5px;
}

.Icon img{
    width: 41px;
    height: 41px;
    margin-right: 5px;
}

.li-login ul li {
    list-style: none;
}

.li-login ul li a{
    text-decoration: none;
    color: #000;
}


.icons{
    margin-right: 20px;
}
.icons ul li{
    list-style: none;
}

.icons ul li a{
    text-decoration: none;
    color: #000;
    width: 60px;
}


.icons ul li button{
    background: none;
    outline: none;
    border: none;
}