.header-top-1{
    color: black;
    background-color: #1db954;
    height: 32px;
}
.external-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slogan p{
    display: flex;
    color: #fff;
    margin-top: 5px;
    font-weight: bold;
}

.social-media li{
    display: inline-block;
    color: #fff;
    height: 10px;
    margin-top: 5px;
    margin-left: 10px;

}

.whatsApp-api{
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    margin-top: 5px;
}